[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
pytest-cov = "*"


[dev-packages]

pytest = "*"
betamax = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
pytest-cov = "*"


[requires]

python_version = "3.6"
