[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
fuzzywuzzy = "*"
python-Levenshtein = "*"
pytest-cov = "*"
"discord.py" = "*"
pytest-asyncio = "*"
pytest-mock = "*"


[dev-packages]

pytest = "*"
betamax = "*"
Sphinx = "*"
sphinx-autobuild = "*"
sphinx_rtd_theme = "*"
pytest-cov = "*"


[requires]

python_version = "3.6"
